journeymap/data/sp/
logs/
command_history.txt
saves/
schematics/
.sable/
crash-reports/
downloads/
generated/
.mixin.out/
options.txt
config/better-advanced-tooltips-client.toml
journeymap/journeymap.log
config/jei/recipe-category-sort-order.ini
config/jei/ingredient-list-mod-sort-order.ini
config/jei/world/local/New_World/lookupHistory.json
journeymap/config/6.0/journeymap.minimap.config
.mixin.out/class/dev/engine_room/flywheel/backend/engine/indirect/MatrixBuffer.class
journeymap/data/mp/offline/waypoints/WaypointData.dat
journeymap/
servers.dat
servers.dat_old
local/ftbchunks
dynamic-resource-pack-cache/supplementaries-generated_pack/
config/jei
journeymap/config/
debug/
